*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.collection-container{
    width: 100%;
    height: 60vh;
}
.heading-main{
    margin-top: 8rem;
    margin-left: 5.5rem;
}

.heading-main h3{
font-weight: 800;
color: #000;
letter-spacing: 1px;
}

.collection-data-main{
    width: 100%;
    margin-top: 0.6rem;
    margin-left: 5.5rem;
    display: flex;
    justify-content: space-between;
}

.collection-data-main{
    font-size: 15px;
}

.collection-data-main p{
    color: rgb(56, 55, 55);
    font-weight: 600;
}
.collection-data-main  .hr{
    height: 2px;
    margin-top: 0.3rem;
    color: #000;
    font-weight: 600;
}
.collection-data-main .arrow-icon{
    width: 30px;
    margin-left: -8.7rem;
    color: rgb(70, 67, 67);
}

.collection-assets{
    width: 100%;
    /* margin-top: 0.5rem; */
    margin: 0.5rem 1.7rem;
}
.collection-assets .asset{
 width: 100%;
 display: flex;
 justify-content: space-evenly;
}
.collection-assets .asset img{
    width: 400px;
}
