*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-container{
    width: 100%;
    height:400px;
    margin-top:2rem;
}
.about-container .about-assets{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 221, 226);
}