 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-container{
    width: 100%;
    height: auto;
    margin-top: -11rem;
}

.Product-asset{
    width: 100%;
    height: 100% !important;
}

 /* .product-icon{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(83, 82, 82);
    padding: 0.5rem;
} */
.Product-asset .collection-asset{
    width: 100%;
 display: flex;
 justify-content: space-evenly;
}
 .collection-asset img{
    width: 500px;
    height: 470px;
    object-fit: cover;
}

